@model NetflixPrjeq05.Models.RegleVM

<br />
@{
    bool alreadyExist = ViewBag.AfficheErreur;

    if (alreadyExist)
    {
        <div class="alert alert-danger" role="alert">
            Une règle identique existe déjà!
        </div>
    }

}
<h2>Modifier une règle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Regle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RegleId)

        <table class="table">
            <tr>
                <td>@Html.DisplayNameFor(Model => Model.DoublageLangue)</td>
                <td>@Html.DisplayNameFor(Model => Model.Pourcentage)</td>
                <td>@Html.DisplayNameFor(Model => Model.EstPlusGrand)</td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownList("DoublageLangueId", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    @*Html.ValidationMessageFor(model => model.DoublageLangueId, "", new { @class = "text-danger" })*@
                    @Html.HiddenFor(model => model.DoublageLangueId)
                </td>
                <td>
                    @Html.EditorFor(model => model.Pourcentage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pourcentage, "", new { @class = "text-danger" })
                </td>
                <td>

                    Minimum @Html.RadioButtonFor(model => model.EstPlusGrand, "true", new { id = "yesNoToaster" })
                    Maximum @Html.RadioButtonFor(model => model.EstPlusGrand, "false", new { id = "yesNoToaster" })

                    @Html.ValidationMessageFor(model => model.EstPlusGrand, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour aux règles", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
