@model IEnumerable<NetflixPrjeq05.Models.RegleVM>

@{
    ViewBag.Title = "Index";
}
<p>
    @using (Html.BeginForm("Index", "Regles", FormMethod.Get))
    {
        @Html.DropDownList("id", ViewBag.Pays as SelectList, new { onchange = "this.form.submit();" })

    }
</p>
<h2>Information</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pourcentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PourcentageReel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoublageLangue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginePaysId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pourcentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PourcentageReel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoublageLangue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginePays)
        </td>
    </tr>
}

</table>
