@model IEnumerable<NetflixPrjeq05.Models.Regle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pourcentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstPlusGrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Langue.Code_ISO639)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pays.Code_ISO3166)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pays1.Code_ISO3166)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pourcentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstPlusGrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Langue.Code_ISO639)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pays.Code_ISO3166)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pays1.Code_ISO3166)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegleId })
        </td>
    </tr>
}

</table>
