@model IEnumerable<NetflixPrjeq05.Models.RegleVM>

@{
    ViewBag.Title = "Index";
}
<h2>Information</h2>
<p>
    @using (Html.BeginForm("Index", "Regles", FormMethod.Get))
    {
        @Html.DropDownList("id", ViewBag.Pays as SelectList, new { onchange = "this.form.submit();" })

    }
</p>


<div id="reglesDiv" style="
    display: flex;
">
    <table class="table" style="margin-right:50px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pourcentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PourcentageReel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoublageLangue)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pourcentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PourcentageReel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoublageLangue)
                </td>
            </tr>
        }

    </table>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pourcentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PourcentageReel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginePaysId)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pourcentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PourcentageReel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoublageLangue)
                </td>
            </tr>
        }

    </table>
</div>
