@model IEnumerable<NetflixPrjeq05.Models.RegleVM>

@{
    ViewBag.Title = "Index";
}
<h2>Information</h2>

<h4>@Html.ActionLink("Créer une nouvelle régle", "Create", "Regles")</h4>
<p>
    @using (Html.BeginForm("Index", "Regles", FormMethod.Get))
    {
        @Html.DropDownList("id", ViewBag.Pays as SelectList, new { onchange = "this.form.submit();", @class = "form-control" })

    }
</p>


<div id="reglesDiv" style="display: flex;">

    <table class="table">
        <tr>

            <th>
               
                Pourcentage visé
            </th>
            <th>
                Pourcentage actuel
            </th>
            <th>
                Langue de doublage
            </th>
            <th>
                
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.DoublageLangue != string.Empty)
            {
                <tr>
                    <td>
                        @if ((bool)item.EstPlusGrand)
                        {
                            <span>Plus de @Html.DisplayFor(modelItem => item.Pourcentage)</span>
                        }
                        else
                        {
                            <span>Moins de @Html.DisplayFor(modelItem => item.Pourcentage)</span>
                        }
                    </td>
                    <td>
                        @if (((bool)item.EstPlusGrand && item.PourcentageReel >= item.Pourcentage) || !((bool)item.EstPlusGrand && item.PourcentageReel <= item.Pourcentage))
                        {
                            <span style="color:green;">@Html.DisplayFor(modelItem => item.PourcentageReel)</span>
                        }
                        else
                        {
                            <span style="color:red;">@Html.DisplayFor(modelItem => item.PourcentageReel)</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoublageLangue)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Regles")"> <i class="far fa-edit"></i></a>
                    </td>
                </tr>

            }
        }

    </table>
    <div style="width:3px; margin: 0 20px; background-color:lightgray;"></div>

    @*<h3>Origine</h3>*@
    <table class="table">
        <tr>
            <th>
                <!--@Html.DisplayNameFor(model => model.Pourcentage)-->
                Pourcentage visé
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.PourcentageReel)-->
                Pourcentage actuel
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginePays)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.OriginePays != string.Empty)
            {
                <tr>
                    <td>
                        @if ((bool)item.EstPlusGrand)
                        {
                        <span>Plus de @Html.DisplayFor(modelItem => item.Pourcentage)</span>
                        }
                        else
                        {
                        <span>Moins de @Html.DisplayFor(modelItem => item.Pourcentage)</span>
                        }
                    </td>
                    <td>
                        @if (((bool)item.EstPlusGrand && item.PourcentageReel >= item.Pourcentage) || !((bool)item.EstPlusGrand && item.PourcentageReel <= item.Pourcentage))
                        {
                            <span style="color:green;">@Html.DisplayFor(modelItem => item.PourcentageReel)</span>
                        }
                        else
                        {
                            <span style="color:red;">@Html.DisplayFor(modelItem => item.PourcentageReel)</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginePays)
                    </td>
                    <th>
                        <a href="@Url.Action("Edit", "Regles")"> <i class="far fa-edit"></i></a>
                    </th>
                </tr>
            }

        }

    </table>
</div>
