@model PagedList.IPagedList<NetflixPrjeq05.Models.ContenuVM>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Ajouter du contenu";
}

<h2>Ajouter</h2>
<p>
    @using (Html.BeginForm("Ajouter", "Contenus", FormMethod.Get))
    {
        @Html.DropDownList("id", ViewBag.Pays as SelectList, new { onchange = "this.form.submit();", @class = "form-control" })

    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Titre", "Ajouter", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("DateSortie", "Ajouter", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Duree", "Ajouter", new { sortOrder = ViewBag.DureeSortParm })
        </th>
        <th>
            Doublages
        </th>
        <th>
            Origines
        </th>
        <th>
            Affiche
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSortie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doublages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origines)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Affiche)" width="150" height="200">
            </td>
            <td>
                <table class="table">

                    <tr>
                        <td>
                            @if (item.SaisonId != null)
                            {
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AjouterContenu", "Contenus", new { id = item.ContenuId })';return false;">Ajouter l'épisode</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AjouterContenu", "Contenus", new { id = item.ContenuId })';return false;">Ajouter le film</button>
                            }
                        </td>
                    </tr>

                    @if (item.SaisonId != null)
                    {
                        <tr>
                            <td>
                                <span>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalSeason">Ajouter la saison @Html.Action("GetSaisonNumero", "Contenus", new { id = item.SaisonId })</button>

                                    <div class="modal fade" id="modalSeason" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Ajouter une saison</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Êtes-vous sûr vouloir ajouter la saison @Html.Action("GetSaisonNumero", "Contenus", new { id = item.SaisonId }) de la série @Html.Action("GetSerieNom", "Contenus", new { id = item.SaisonId }) ?

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("AjouterSaison", "Contenus", new { id = item.ContenuId })';return false;">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </td>
                        </tr>
                    }


                    @if (item.SaisonId != null)
                    {
                        <tr>
                            <td>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modelaSerie">Ajouter la série @Html.Action("GetSerieNom", "Contenus", new { id = item.SaisonId })</button>
        
                                <div class="modal fade" id="modelaSerie" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel2">Ajouter</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir ajouter la série @Html.Action("GetSerieNom", "Contenus", new { id = item.SaisonId }) en sa totalité?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("AjouterSerie", "Contenus", new { id = item.ContenuId })';return false;">Ajouter</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Ajouter", new { page = page }))