@model IEnumerable<NetflixPrjeq05.Models.ContenuVM>


@{
    ViewBag.Title = "Contenu";
}

<h2>Contenu</h2>
<p>
    @using (Html.BeginForm("Contenu", "Contenus", FormMethod.Post))
    {
        @Html.DropDownList("id", ViewBag.Pays as SelectList, new { onchange = "this.form.submit();"})
    
    }
</p>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSortie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doublages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origines)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Affiche)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSortie)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Duree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doublages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origines)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Affiche)" width="150" height="200">
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ContenuId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ContenuId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ContenuId })
        </td>
    </tr>
}

</table>
