@model IEnumerable<NetflixPrjeq05.Models.Contenu>

@{
    ViewBag.Title = "Contenu";
}

<h2>Contenu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Affiche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cote_moyenne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_de_Cote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre_Original)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_de_sortie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Affiche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cote_moyenne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_de_Cote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titre_Original)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_de_sortie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duree)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContenuId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContenuId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContenuId })
        </td>
    </tr>
}

</table>
