@model IEnumerable<NetflixPrjeq05.Models.Contenu>
@{
    ViewBag.Title = "Contenu";
}

<h2>Contenu</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Langue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Langue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            
            <td>
                
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>